header {
  display: flex;
}

.container{
  align-items: center;
}

#profile {

  & h1 {
    margin-bottom: .5rem;
    font: var(--text-lg);
  }

  & p {
    font: var(--text-md);
    color: var(--text-color-secondary);
    margin-bottom: 2rem;
  } 
}

#profile img {

  width: 7.5rem;
  height: 7.5rem;
}

  #info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
  }

  #info  li  {

    font: var(--text-md);
    color: var(--text-color-secondary);
   
    display: flex;
    align-items: center;
    gap: 8px;
  }


@media(width >= 80em ) {

  header {
    display: flex;
    flex-direction: row;

    .container{
      width: 100%;
      display: flex;
      justify-content: space-between;
    
    }

    #profile{
      display: flex;
      gap: 2rem;
    
      & img {
        width: 11rem;
        height: 11rem;
      }

      & h1 {
        font: var(--text-lg);
      }

      p {
        font: var(--text-md);
        
      }
    }

  }

#profile > div {  
  max-width: 24rem;
  display: inherit;
  flex-direction: column;
  gap: .5rem;
  
}
}

